@import "tailwindcss";
/* Custom CSS for perspective and rotateY */
.perspective {
  perspective: 1000px;
}

.hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
  transition: transform 0.7s ease;
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.font-cartoon {
  font-family: 'Fredoka', cursive;
}
